<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tongji.meeting.dao.UserDao" >
    <sql id="BASE_TABLE">
        user
    </sql>

    <sql id="BASE_COLUMN">
        userid,openid,name
    </sql>

    <insert id="insert" parameterType="com.tongji.meeting.model.UserDomain">
        INSERT INTO
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            openid,name
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{openid, jdbcType=VARCHAR},#{name, jdbcType=VARCHAR}
        </trim>
    </insert>

    <delete id="deleteUserById">
        DELETE FROM
        <include refid="BASE_TABLE"/>
        WHERE
        userId = #{userId, jdbcType=INTEGER}
    </delete>
    <!-- 更新用户信息，为空的字段不进行置空 -->
    <update id="updateUser" parameterType="com.tongji.meeting.model.UserDomain">
        UPDATE
        <include refid="BASE_TABLE"/>
        <set>
            <if test="name != null">
                name = #{name, jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            userid = #{userid, jdbcType=INTEGER}
        </where>
    </update>

    <select id="selectUsers" resultType="com.tongji.meeting.model.UserDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
    </select>

    <select id="selectUsersByOpenid" resultType="com.tongji.meeting.model.UserDomain">
        SELECT
        <include refid="BASE_COLUMN"/>
        FROM
        <include refid="BASE_TABLE"/>
        <where>
            openid = #{openid, jdbcType=VARCHAR}
        </where>
    </select>
</mapper>
