<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tongji.meeting.dao.EventDetailDao" >

    <resultMap id="EventDetail" type="EventDetail">
        <id property="detailId" column="detail_id" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="isRepeat" column="is_repeat"/>
<!--一对一-->
<!--  <association property="role" columnPrefix="role_" resultMap="mapper.SysRoleMapper.roleMapper"/>-->
<!--  一对多
<collection property="privilegeList" columnPrefix="pri_" resultMap="mapper.SysUserMapper.privilegeMap"/>-->
    </resultMap>

    <insert id="create" parameterType="EventDetail" useGeneratedKeys="true"
            keyProperty="detailId">
        INSERT INTO event_detail(title, content, start_time, end_time)
        VALUES (#{title},#{content},#{startTime},#{endTime})
    </insert>

    <select id="retrieveByPK" resultMap="EventDetail">
        select * from event_detail where detail_id = #{calendarId};
    </select>

    <update id="update" parameterType="EventDetail">
        update event_detail
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
        </set>
        where detail_id = #{detailId}
    </update>


    <delete id="delete" parameterType="EventDetail">
        DELETE from event_detail where detail_id = #{detailId}
    </delete>

</mapper>
