<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tongji.meeting.dao.EventDetailDao" >

    <resultMap id="eventDetailResultMap" type="EventDetail">
        <id property="detailId" column="detail_id" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="isRepeat" column="is_repeat"/>
    </resultMap>

    <!--"useGeneratedKeys" supports primary key auto-increment,
    which is identified by "keyProperty"-->
    <insert id="insertEventDetail" useGeneratedKeys="true" keyProperty="detail_id"
            parameterType="EventDetail">
        insert into event_detail (title, content, start_time, end_time, is_repeat)
        values (#{title}, #{content}, #{start_time}, #{end_time}, #{is_repeat})
    </insert>

</mapper>
